{% load compress %}
{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="default"> <!--<![endif]-->
<head>
    <title>Glass Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=1160, initial-scale=1.0">

    {% block extra_css %}
    {% endblock %}

    {# IE related js #}
    <script type="text/javascript">
        if (Function('/*@cc_on return document.documentMode===10@*/')()){
            document.documentElement.className+=' ie10';
        }
    </script>

    {% compress js %}
        <script src="{% static 'scripts/vendors/angular.min.js' %}"></script>
        <script src="{% static 'scripts/vendors/plugins/ui-bootstrap.min.js' %}"></script>
    {% endcompress %}


    {% block extra_js %}
    {% endblock %}
</head>
{% block body %}
{% endblock %}
</html>